<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>

  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css">

</head>
  <body>
    <div id="page-wrap">

      <div id="header-container">
      </div>

      <h1>CATCH EM ALL</h1>
  
    </div>
    
  </body>

</html>